body, html{
     height: 100%;
 	background-repeat: no-repeat;
 	background-color: #d3d3d3;
    /*background-color: #fff;*/
 	font-family: 'Open Sans', sans-serif;
}

.main{
 	margin-top: 70px;
}

h1.title { 
	font-size: 50px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400; 
}

hr{
	width: 10%;
	color: #fff;
}

.form-group{
	margin-bottom: 15px;
}

label{
	margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
 	background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
 	margin-top: 30px;
 	margin: 0 auto;
 	max-width: 330px;
    padding: 40px 40px;

}

.login-button{
	margin-top: 5px;
}

.login-register{
	font-size: 11px;
	text-align: center;
}

.footer {
    background-color: #000;
    height: 150px;
    color: white;
}

.jumbotron {
    background-color: #000;
    color: white;
    margin-bottom: 0;
}

th, td {
    text-align: center;
}

input[type="text"] {
    width:300px;
}

.fotoGrilla {
  width: 40px;
  height: 40px;
}
.fotoform {
  max-width: 200px;
  max-height: 200px;
}


/* ACÁ VAN ESTILOS DE TABLA*/

      .row{
        margin-top:40px;
        padding: 0 10px;
    }
    .clickable{
        cursor: pointer;   
    }

    .panel-heading{
      background: #000;
    }

    .panel-heading div {
      margin-top: -18px;
      font-size: 15px;
    }
    .panel-heading div span{
      margin-left:5px;
    }
    .panel-body{
      display: none;
    }

    .panel-primary>.panel-heading {
    color: #fff;
    background-color: #000;
    border-color: #000;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: #fff;
}


/* ALGO QUE AGREGUÉ */
.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    /*color: #333;*/
    color: #9d9d9d;
    white-space: nowrap;
    background-color: #222222;
}

.navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #222222;
}