<div class="container">
    
    	<div class="row">
			<div class="col-md-12">
				<div class="panel panel-negro">
					<div class="panel-heading">
						<h3 class="panel-title">Informes</h3>
						<div class="pull-right">
							<!-- <span class="clickable filter" data-toggle="tooltip" title="Toggle table filter" data-container="body"> 
								
							</span> -->
						</div>
					</div>
					<div class="panel-body">
						<input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Filter Developers" />
					</div>
				<!-- 	<table class="table table-hover" id="dev-table"> -->
				<table class="table table-bordred table-striped" id="dev-table">
						<thead>
							<tr>
								<th>Nombre</th>
								<th class="centrar">  Direccion     </th>
								<th>  Localidad     </th> 			  					
			  					<th>  Usuario     </th> 
			  					<th>  Primera Impresión    </th>
			  					<th>  Limpieza    </th>
			  					<th>  Atención    </th>
			  					<th>  Presentación    </th>
			  					<th>  Porcentaje    </th> 
			  					<th>  Fecha    </th>			  					
			  					<!-- <th>  MODIFICAR        </th>	 --> 
			  					<th ng-if="esVisible.admin" class="centrar">  BORRAR     </th>
								<!-- <th ng-if="esVisibleUser">  MODIFICAR     </th>  -->
							</tr>
						</thead>

						<!-- <tr ng-repeat="local in ListadoLocales | filter:mifiltro as resultado"> -->

						<tbody>

							<tr ng-repeat="informe in ListadoInformes | filter:mifiltro as resultado">
							
								<td>{{informe.nombre}}</td>
				  				<td>{{informe.direccion}}</td>
				  				<td>{{informe.localidad}}</td>
				  				<td>{{informe.empleado}}</td>
				  				<td>{{informe.puno}}</td>
				  				<td>{{informe.pdos}}</td>
				  				<td>{{informe.ptres}}</td>
				  				<td>{{informe.pcuatro}}</td>
				  				<td>{{informe.porcentaje}}%</td>
				  				<td>{{informe.fecha}}</td>

				  				
				  				<td ng-if="esVisible.admin" class="centrar"><button class='btn btn-danger' name='Borrar' ng-click="Borrar(informe.id)">   <span class='glyphicon glyphicon-remove-circle'><!-- &nbsp; --></span><!-- Borrar --></button></td>
							</tr>

							<tr ng-if="resultado.length == 0">

				  				<td></td>							
				  				<td>No existen informes con esos datos.</td>
				  				<td></td>
				  				<td></td>
				  				<td></td>										
				  				<td></td>

			  				</tr>
						</tbody>
					</table>
				</div>
			</div>

		</div>
	</div>