<div class="container">
    
    	<div class="row animated pulse">
			<div class="col-md-12">

				

				<form action="" role="search">
				  	<div class="form-group">
				  		 <input type="search" class="form-control" placeholder="Buscar usuarios..." ng-model="mifiltro"></input>
				  	</div>					
				</form>

				<div class="text-center">
					<div class="btn-group">
						<td><button type="button" class="btn btn-primary" ng-click="GenerarPDF()"><span class='glyphicon glyphicon-file'>&nbsp;</span>Generar PDF</button></td>
						<td><button type="button" class="btn btn-primary" ng-click="GenerarExcel()"><span class=' 	glyphicon glyphicon-th-list'>&nbsp;</span>Generar Excel</button></td>
						<td ng-if="esAdmin"><button type="button" class="btn btn-primary" name='alta' ui-sref="altaUsuario"><span class='glyphicon glyphicon-upload'>&nbsp;</span>Alta Usuario</button></td>			
					</div>
				</div>

				<div class="panel panel-negro">
					<div class="panel-heading">
						<h3 class="panel-title">Usuarios</h3>
						<div class="pull-right">
							<!-- <span class="clickable filter" data-toggle="tooltip" title="Toggle table filter" data-container="body"> 
								
							</span> -->
						</div>
					</div>
					<div class="panel-body">
						<input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Filter Developers" />
					</div>
				<!-- 	<table class="table table-hover" id="dev-table"> -->
				<table class="table table-bordred table-striped" id="dev-table">
						<thead>
							<tr>
								<th>Correo</th>
			                    <th>Nombre</th>
			                    <!-- <th>Clave</th> -->
			                    <th>Tipo</th>
			                    <th>Foto</th>
			                    <th>MODIFICAR</th>                      
                       			<th>ELIMINAR</th>
							</tr>
						</thead>

						

						<tbody>

								<tr ng-repeat="usuario in ListadoUsuarios | filter:mifiltro as resultado">

								<td>{{usuario.correo}}</td>
								<td>{{usuario.nombre}}</td>
								<!-- <td>{{usuario.clave}}</td> -->
								<td>{{usuario.tipo}}</td>
								<td><img  class='fotoGrilla' ng-src="imagenes/{{usuario.foto}}" ></td>
								
								<td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class='btn btn-warning' data-title="Edit" data-toggle="modal" data-target="#edit" name='Modificar' ui-sref="modificar({id:usuario.id, correo:usuario.correo, nombre:usuario.nombre , clave:usuario.clave, tipo:usuario.tipo, foto:usuario.foto})" ><span class="glyphicon glyphicon-pencil"></span></button></p></td>
    
    							<td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class='btn btn-danger' data-title="Delete" data-toggle="modal" data-target="#delete" name='Borrar' ng-click="Borrar(usuario)"><span class="glyphicon glyphicon-trash"></span></button></p></td>
							
								
							</tr>
						</tbody>

						<tr ng-if="resultado.length == 0">

			  				<td></td>							
			  				<td>No existen usuarios con esos datos..</td>
			  				<td></td>
			  				<td></td>
			  				<td></td>										
			  				<td></td>

			  			</tr>
					</table>
				</div>
			</div>

		</div>
	</div>