 <!-- COMIENZO JUMBOTRON -->
<section class="jumbotron">
	<div class="container">
		<h1 class="titulo-blog"><b>Mistery</b> Shopper</h1>
		<p>TP Final Laboratorio IV 2016</p>
	</div>
</section>
<!-- FIN JUMBOTRON -->

<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navegacion-ms">
				<span class="sr-only">Desplegar / Ocultar Menu</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="#" class="navbar-brand">MS</a>
		</div>

		<!-- COMIENZO MENU -->
		<div class="collapse navbar-collapse" id="navegacion-ms">
			<ul class="nav navbar-nav">
				<li><a ui-sref="menu"><span class="glyphicon glyphicon-home"></span></a></li>
				<!-- <li class="dropdown" role="menu">
					<a href="#" "uib-dropdown-toggle" data-toggle="dropdown" role="button">
						Negocios <span class="caret"></span>
					</a>
					<ul "dropdown-menu">
						<li><a ui-sref="grilla">Grilla</a></li>
						<li><a ui-sref="alta">Alta</a></li>
					</ul>
				</li> -->
				<li uib-dropdown>
					<a uib-dropdown-toggle>Usuarios<span class="caret"></span></a>
					<ul uib-dropdown-menu>
						<li><a ui-sref="grillaUser">Grilla</a></li>
						<li><a ui-sref="altaUser">Agregar Usuario</a></li>
					</ul>
				</li>
				<li uib-dropdown>
					<a uib-dropdown-toggle>Negocios<span class="caret"></span></a>
					<ul uib-dropdown-menu>
						<li><a ui-sref="grilla">Grilla</a></li>
						<li><a ui-sref="alta">Agregar negocio</a></li>
					</ul>
				</li>
<!-- 				<li uib-dropdown>
					<a uib-dropdown-toggle>Informes<span class="caret"></span></a>
					<ul uib-dropdown-menu>
						<li><a ui-sref="grillaInformes">Grilla</a></li>						
					</ul>
				</li> -->
				<li><a ui-sref="grillaInformes">Grilla Informes</a></li>
				<!--<li><DirectivaDos><label>usuario: {{nombreUs}}</label><DirectivaDos></li>-->


			<!-- 	<li><a ui-sref="altaUser">Alta Usuarios</a></li>
				<li><a ui-sref="altaInforme">Alta Informes</a></li>
				<li><a ui-sref="grilla">Grilla Negocios</a></li>
				<li><a ui-sref="grillaUser">Grilla Usuarios</a></li>
				<li><a ui-sref="grillaInformes">Grilla Informes</a></li> -->
				<!--<li></li>
				<li></li>
				<li><a ui-sref="">Usuario: {{usuario.nombre}}</a></li>-->
			</ul>
</div>							